@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>DESAFIO DIMENSÃO SISTEMAS</h2>
    <p>O objetivo desse desafio é avaliar a capacidade técnica na resolução de uma necessidade utilizando meios de programação. Será avaliado a entrega final, os requisitos atendidos, montagem do código e criatividade para resolver o desafio.</p>
    <h2>O DESAFIO</h2>
    <p>Desenvolver uma tasklist utilizando preferencialmente ASP.NET MVC conforme os requisitos previstos abaixo. Caso o candidato não possua nenhuma experiência com a tecnologia, poderá ser adotada outra linguagem. O código deverá ser disponibilizado via github junto com a instrução de como executá-lo.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>REQUISITOS OBRIGATÓRIOS</h2>
        <p>1. A aplicação deve prover as seguintes funcionalidades:</p>

        <ul>
            <li>Criar uma nova tarefa;</li>
            <li>Editar uma tarefa já existente;</li>
            <li>Remover uma tarefa já existente;</li>
            <li>Marcar e desmarcar uma tarefa como concluída;</li>
        </ul>

        <p>2. Deverá no mínimo haver os seguintes campos em cada tarefa:</p>

        <ul>
            <li>Título da tarefa – com validação de no mínimo 5 caractere e no máximo 30;</li>
            <li>Status da tarefa – boolean para “Concluído” e “Pendente”;</li>
        </ul>
        <p>Caso o candidato eventualmente queira implementar novos campos e funções, será aceito como diferenciais.</p>

</div>
    <div class="col-md-6">
        <h2>DIFERENCIAIS</h2>
        <p>Alguns diferenciais que podem ser realizados:</p>
        <ul>
            <li>Utilização do ASP.Net MVC terá um maior peso na avaliação;</li>
            <li>Camada de frontend independente do backend;</li>
            <li>Desenvolvimento do frontend em Angular2+;</li>
            <li>Bons padrões de desenvolvimento: utilização de design patterns, nomenclaturas, divisão de arquitetura, documentação;</li>
            <li>Estilização básica do frontend, responsividade e usabilidade;</li>
            <li>Inclusão de uma progressbar com percentual de tarefas entregues/pendentes;</li>
            <li>Inclusão de autenticação para acessar as tarefas e/ou criar novas tarefas (login);</li>
            <li>Hospedar em um serviço na nuvem (exemplo: azure/amazon).</li>
        </ul>
    </div>
</div>